<p-toast></p-toast>
<div class="w-full h-100vw flex justify-content-center align-items-start">
    <section class="championship-table w-full h-full p-5 flex justify-content-center min-h-screen">
        <p-table
        #tbChampionships
        [value]="championships"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [scrollable]="true"
        [tableStyle]="{'min-width': '768px', 'min-height':'720px'}"
        scrollWidth="1024px"
        styleClass="p-datatable-gridlines"
        class="w-12"
        dataKey="id"
        [globalFilterFields]="['name', 'situation', 'date']"
        editMode="row">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center">
                    <div class="w-4 flex align-items-center justify-content-start">
                        <p-button type="button" icon="pi pi-book" styleClass="p-button-outlined p-button-danger" (onClick)="showHistory()"  label="Histórico de Apostas"></p-button>
                    </div>
                    <div class="w-4">
                        <p class="text-center text-3xl">Campeonatos Disponiveis</p>
                    </div>
                    <div class="w-4 flex flex-end">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" class="w-full" (input)="tbChampionships.filterGlobal($any($event.target).value, 'contains')" placeholder="Pesquisar"/>
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name" style="width:22.5%">Nome <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="date" style="width:22.5%">Data <p-sortIcon field="date"></p-sortIcon></th>
                    <th style="width:22.5%">Participantes</th>
                    <th pSortableColumn="finished" style="width:5%">Situação <p-sortIcon field="situation"></p-sortIcon></th>
                    <th style="width:10%">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-championship let-editing="editing" let-ri="rowIndex">
                <tr>
                    <td>
                        {{championship.name}}
                    </td>
                    <td>
                        {{ (arrayToDate(championship.date) | date:'dd/MM/yyyy HH:mm') + ' - ' + (championship.endDate ? (arrayToDate(championship.endDate) | date:'dd/MM/yyyy HH:mm') : 'Sem data') }}
                    </td>
                    <td>
                        <p-scroller [items]="championship.pilots" [itemSize]="50" scrollHeight="150px" styleClass="border-1 surface-border" optionLabel="name" [style]="{'width': '100%', 'height': '100%'}">
                            <ng-template pTemplate="pilot" let-pilot let-options="options">
                                <div class="flex align-items-center p-2" style="height: 50px;">{{ pilot.name }}</div>
                            </ng-template>
                        </p-scroller>
                    </td>
                    <td>
                        {{ championship.finished ? 'Finalizado' : 'Em Andamento' }}
                    </td>
                    <td class="text-center">
                        <p-button type="button" icon="pi pi-book" styleClass="p-button-danger text-gray-800 font-bold" label="Apostar" [disabled]="championship.finished" (onClick)="startBet(championship)"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </section>
    <p-sidebar [(visible)]="betSidebar" position="right">
        <h2 class="text-center">APOSTA</h2>
        <label for="withdraw" class="block text-900 text-xl mb-2 mt-2 text-center text-red-300"> {{ name }} </label>
        <div class="flex flex-column justify-content-evenly gap-3 mb-3 mt-5">
            <span style="min-width: 300px;" class="text-left">
                <label for="withdraw" class="block text-900 text-xl mb-2 text-left">Valor</label>
                <label for="betValue" class="block text-900 text-md mb-3 text-left text-gray-500">Digite o valor da aposta</label>
                <p-inputNumber *ngIf="user" #withdrawValue id="withdrawValue" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" type="number" mode="currency" currency="BRL" [min]="1" [max]="user.balance" [maxFractionDigits]="2" class="w-full mb-1" [style]="{'width':'100%'}" (ngModelChange)="updateValue($event)" [ngModel]="value" ></p-inputNumber>
                <label *ngIf="user" for="avaliable" class="block text-900 text-sm text-left text-gray-500">Disponivel para apostar: R${{ user.balance | number:'1.2-2' }}</label>
            </span>
            <span>
                <label for="betType" class="block text-900 text-xl mb-2 text-left">Tipo da aposta</label>
                <label for="selectBetType" class="block text-900 text-md mb-3 text-left text-gray-500">Selecione o tipo da aposta</label>
                <p-dropdown class="text-left" [options]="betTypes" optionLabel="name" appendTo="body" placeholder="Apostas" [style]="{'min-width':'100%'}" (onChange)="updateSelectedBet($event)"></p-dropdown>
            </span>
            <span *ngIf="selectedBetType && (selectedBetType.code === 'SimpleVictory' || selectedBetType.code === 'BrokenCar' || selectedBetType.code === 'SimplePosition')">
                <label for="simpleVictory" class="block text-900 text-xl mb-2 text-left"> {{ selectedBetType.name }} </label>
                <label for="selectBetType" class="block text-900 text-md mb-3 text-left text-gray-500" *ngIf="selectedBetType.code === 'SimpleVictory'" >Selecione o piloto vencedor</label>
                <label for="selectBetType" class="block text-900 text-md mb-3 text-left text-gray-500" *ngIf="selectedBetType.code === 'BrokenCar'" >Selecione piloto que quebrará o carro</label>
                <label for="selectBetType" class="block text-900 text-md mb-3 text-left text-gray-500" *ngIf="selectedBetType.code === 'SimplePosition'" >Selecione o piloto</label>
                <p-dropdown class="text-left" [options]="championship.pilots" optionLabel="name" appendTo="body" placeholder="Pilotos" [style]="{'min-width':'100%'}" (onChange)="updateSelectedPilot1($event)"></p-dropdown>
                <label for="selectBetType" class="block text-900 text-md mb-3 mt-3 text-left text-gray-500" *ngIf="selectedBetType.code === 'SimplePosition' && positions" >Selecione a posicao</label>
                <p-dropdown class="text-left" *ngIf="selectedBetType.code === 'SimplePosition' && positions" [options]="positions" appendTo="body" placeholder="Posicao" [style]="{'min-width':'100%'}" (onChange)="updateSelectedPosition($event)"></p-dropdown>
            </span>
            <span *ngIf="selectedBetType &&  (selectedBetType.code === 'AverageTime')">
                <label for="simpleVictory" class="block text-900 text-xl mb-2 text-left">Selecione o tempo</label>
                <label for="selectBetType" class="block text-900 text-md mb-3 mt-3 text-left text-gray-500">Tempo médio de todas as corridas</label>
                <input type="text" pInputText [ngModel]="'Entre ' + formatSecondsToTime(time1) + ' e ' + formatSecondsToTime(time2)" class="w-full mb-2" [readOnly]="true"/>
                <p-slider [(ngModel)]="time1" [max]="300" [style]="{'width':'100%'}" (onSlideEnd)="updateSecondValue()"></p-slider>
            </span>
            <span *ngIf="selectedBetType && (selectedBetType.code === 'HeadToHead')">
                <label for="headToHead" class="block text-900 text-xl mb-2 text-left">Selecione a corrida</label>
                <p-listbox [options]="races" [(ngModel)]="race" class="mb-2" [listStyle]="{ 'max-height': '150px' }" (onChange)="updateSelectedRace()">
                    <ng-template let-race pTemplate="item" class="w-100 text-center">
                        <label class="text-sm font-bold w-4 text-center">
                            {{ race.pilot1.name }}
                        </label>
                        <label class="font-bold w-4 text-center">
                            &nbsp;&nbsp;X&nbsp;&nbsp;
                        </label>
                        <label class="text-sm font-bold w-4 text-center">
                            {{ race.pilot2.name }}
                        </label>
                    </ng-template>
                </p-listbox>
                <label for="headToHead" *ngIf="selectedBetType.code === 'HeadToHead' && racePilots" class="block text-900 text-xl mt-3 mb-2 text-left">Selecione o vencedor</label>
                <p-dropdown class="text-left" *ngIf="selectedBetType.code === 'HeadToHead' && racePilots" [options]="racePilots" appendTo="body" placeholder="Piloto" optionLabel="name" [style]="{'min-width':'100%'}" (onChange)="updateWinner($event)"></p-dropdown>
            </span>
        </div>
        <div class="flex flex-column justify-content-evenly gap-3 mb-3 mt-3" 
        *ngIf="selectedBetType && 
        ((selectedBetType.code === 'SimpleVictory' && pilot1) || 
        (selectedBetType.code === 'BrokenCar' && pilot1) ||
        (selectedBetType.code === 'SimplePosition' && pilot1 && position) ||
        (selectedBetType.code === 'AverageTime' && time1 && time2) ||
        (selectedBetType.code === 'HeadToHead' && pilot1 && pilot2 && race))">
            <span style="min-width: 300px;" class="text-left">
                <label for="deposit" class="block text-900 text-sm text-justify text-gray-500 mr-2 ml-2">O valor será debitado diretamente da sua conta</label>
            </span>
            <button pButton pRipple label="APOSTAR" class="bg-red-300 border-gray-900 border-round-md font-bold text-white hover:bg-red-200 text-lg w-full" (click)="confirmBet()"></button>
        </div>
    </p-sidebar>
    <p-dialog [(visible)]="history" [modal]="true" [resizable]="false" [draggable]="false">
        <ng-template pTemplate="header">
            <span class="text-xl font-bold" [style]="{'width':'700px'}">Histórico de Apostas</span>
        </ng-template>
        <ng-template pTemplate="body">
            <div class="flex font-bold mb-5 text-sm text-center flex justify-content-center p-2 align-items-center sticky bg-gray-900 z-5" style="width: 100%; min-height: 50px;">
                <label style="width: 10%;">
                    APOSTA
                </label>
                <label style="width: 16%;">
                    TRANSAÇÃO
                </label>
                <label style="width: 16%;">
                    CAMPEONATO
                </label>
                <label style="width: 16%;">
                    TIPO
                </label>
                <label style="width: 16%;">
                    VALOR
                </label>
                <label style="width: 16%;">
                    AÇÃO
                </label>
            </div>
            <div *ngFor="let bet of bets" class="flex border-1 text-center bg-gray-700 hover:bg-gray-900 mb-3 flex justify-content-center p-2 align-items-center" style="width: 100%; min-height: 50px;">
                <div style="width: 10%;">
                    {{ bet.id }}
                </div>
                <div style="width: 16%;">
                    {{ bet.transaction.id }}
                </div>
                <div style="width: 16%;">
                    {{ bet.championship.name }}
                </div>
                <div style="width: 16%;">
                    {{ convertBetType(bet.betType) }}
                </div>
                <div style="width: 16%;" class="text-red-400">
                    {{ '- R$' + (bet.transaction.value | number:'1.2-2') }}
                </div>
                <label class="text-right" style="width: 16%;">
                    <button pButton pRipple label="CONSULTAR" class="bg-red-300 border-none border-round-md text-white font-bold hover:bg-red-200 text-xs" (click)="showBet(bet)"></button>
                </label>
            </div>
        </ng-template>
    </p-dialog>
    <p-dialog [(visible)]="showOneBet" *ngIf="selectedBet" [modal]="true" [resizable]="false" [draggable]="false">
        <ng-template pTemplate="header">
            <span class="text-xl font-bold" [style]="{'width':'400px'}">Aposta #{{ selectedBet.id }}</span>
        </ng-template>
        <ng-template pTemplate="body">
            <div class="flex flex-column justify-content-evenly gap-3 mt-2">
                <span>
                    <label for="championship" class="block text-900 text-xl mb-2 text-left font-bold">Valor da aposta</label>
                    <label for="betValue" class="block text-900 text-lg mb-3 text-left text-red-300 font-bold">{{ 'R$' + (selectedBet.transaction.value | number:'1.2-2') }}</label>
                </span>
                <span>
                    <label for="championship" class="block text-900 text-xl mb-2 text-left font-bold">Campeonato</label>
                    <label for="betValue" class="block text-lg mb-3 text-left text-600 font-bold">{{ selectedBet.championship.name }} </label>
                </span>
                <span>
                    <label for="championship" class="block text-900 text-xl mb-2 text-left font-bold">Tipo da aposta</label>
                    <label for="betValue" class="block text-lg mb-3 text-left text-600 font-bold">{{ convertBetType(selectedBet.betType) }} </label>
                </span>
                <span *ngIf="convertBetType(selectedBet.betType) === 'Vitória Simples'">
                    <label for="championship" class="block text-900 text-xl mb-2 text-left font-bold">Vencedor </label>
                    <label for="betValue" class="block text-lg mb-3 text-left text-600 font-bold">{{ selectedBet.simpleVictory.pilot.name }} </label>
                </span>
                <span *ngIf="convertBetType(selectedBet.betType) === 'Carro Quebrado'">
                    <label for="championship" class="block text-900 text-xl mb-2 text-left font-bold">Quebrará o carro </label>
                    <label for="betValue" class="block text-lg mb-3 text-left text-600 font-bold">{{ selectedBet.brokenCar.pilot.name }} </label>
                </span>
                <span *ngIf="convertBetType(selectedBet.betType) === 'Posição Simples'">
                    <label for="championship" class="block text-900 text-xl mb-2 text-left font-bold">Piloto </label>
                    <label for="betValue" class="block text-lg mb-3 text-left text-600 font-bold">{{ selectedBet.simplePosition.pilot.name }} </label>
                </span>
                <span *ngIf="convertBetType(selectedBet.betType) === 'Posição Simples'">
                    <label for="championship" class="block text-900 text-xl mb-2 text-left font-bold">Posição </label>
                    <label for="betValue" class="block text-lg mb-3 text-left text-600 font-bold">{{ selectedBet.simplePosition.position }} </label>
                </span>
                <span *ngIf="convertBetType(selectedBet.betType) === 'Tempo Médio'">
                    <label for="championship" class="block text-900 text-xl mb-2 text-left font-bold">Tempo Médio </label>
                    <label for="betValue" class="block text-lg mb-3 text-left text-600 font-bold">{{ 'Entre ' + convertTime(selectedBet.averageTime.averageTime1) + ' e ' + convertTime(selectedBet.averageTime.averageTime2) }} </label>
                </span>
                <span *ngIf="convertBetType(selectedBet.betType) === '1 Contra 1'">
                    <label for="championship" class="block text-900 text-xl mb-2 text-left font-bold">Corrida </label>
                    <label for="betValue" class="block text-lg mb-3 text-left text-600 font-bold">{{ selectedBet.headToHead.winner.name + ' VS ' + selectedBet.headToHead.loser.name }} </label>
                </span>
                <span *ngIf="convertBetType(selectedBet.betType) === '1 Contra 1'">
                    <label for="championship" class="block text-900 text-xl mb-2 text-left font-bold">Vencedor </label>
                    <label for="betValue" class="block text-lg mb-3 text-left text-600 font-bold">{{ selectedBet.headToHead.winner.name }} </label>
                </span>
                <span>
                    <label for="championship" class="block text-900 text-xl mb-2 text-left font-bold">Horário da aposta</label>
                    <label for="betValue" class="block text-lg mb-3 text-left text-600 font-bold">{{ formatDate(selectedBet.transaction.dateTime) }} </label>
                </span>
                <span *ngIf="!selectedBet.championship.finished">
                    <button pButton pRipple label="Cancelar Aposta" class="bg-red-500 border-none border-round-md text-white font-bold hover:bg-red-400 text-md" (click)="deleteBet(selectedBet)"></button>
                </span>
            </div>
        </ng-template>
    </p-dialog>
</div>