<div class="w-full h-full bg-black min-w-full min-h-screen flex flex-column">
    <div class="nav-items flex gap-2 flex-column">
        <div class="nav-item flex align-items-center p-3 gap-2 hover:bg-gray-900 cursor-pointer font-bold">
            <img src="../../assets/championship-icon.png" class="w-2rem">
            <span>CAMPEONATOS</span>
        </div>
        <div class="nav-item flex align-items-center p-3 gap-2 hover:bg-gray-900 cursor-pointer font-bold">
            <img src="../../assets/pilot-icon.png" class="w-2rem">
            <span>PILOTOS</span>
        </div>
        <div class="nav-item flex align-items-center p-3 gap-2 hover:bg-gray-900 cursor-pointer font-bold">
            <img src="../../assets/team-icon.png" class="w-2rem">
            <span>TIMES</span>
        </div>
        <div class="nav-item flex align-items-center p-3 gap-2 hover:bg-gray-900 cursor-pointer font-bold">
            <img src="../../assets/car-icon.png" class="w-2rem">
            <span>CARROS</span>
        </div>
        <div class="nav-item flex align-items-center p-3 gap-2 hover:bg-gray-900 cursor-pointer font-bold">
            <img src="../../assets/preparer-icon.png" class="w-2rem">
            <span>PREPARADORES</span>
        </div>
        <div class="nav-item flex align-items-center p-3 gap-2 hover:bg-gray-900 cursor-pointer font-bold">
            <img src="../../assets/race-icon.png" class="w-2rem">
            <span>CORRIDAS</span>
        </div>
        <div class="nav-item flex align-items-center p-3 gap-2 hover:bg-gray-900 cursor-pointer font-bold">
            <img src="../../assets/user-icon.png" class="w-2rem">
            <span>USUÁRIOS</span>
        </div>
        <div class="nav-item flex align-items-center p-3 gap-2 hover:bg-gray-900 cursor-pointer font-bold">
            <img src="../../assets/statistics-icon.png" class="w-2rem">
            <span>ESTATÍSTICAS</span>
        </div>

    </div>
</div>
