<p-toast></p-toast>
<section class="championship-table w-full h-full p-5 flex justify-content-center min-h-screen">
    <p-table
    #tbTeams
    [value]="teams"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [scrollable]="true"
    [tableStyle]="{'min-width': '768px'}"
    scrollWidth="1024px"
    styleClass="p-datatable-gridlines"
    class="w-10"
    dataKey="id"
    [globalFilterFields]="['name', 'id']"
    editMode="row">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center">
                <div class="w-4">
                    <p-button type="button" icon="pi pi-plus" (onClick)="changeRegisterModal()" styleClass="p-button-text"></p-button>
                </div>
                <div class="w-4">
                    <p class="text-center text-3xl">Equipes</p>
                </div>
                <div class="w-4 flex flex-end">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" class="w-full" (input)="tbTeams.filterGlobal($any($event.target).value, 'contains')" placeholder="Pesquisar"/>
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="width:10%">ID <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="name" style="width:80%">Nome <p-sortIcon field="name"></p-sortIcon></th>
                <th style="width:10%">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-team let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="team">
                <td>
                    {{team.id}}
                </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="team.name" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{team.name}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(team)" class="p-button-rounded p-button-text "></button>
                        <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-times" (click)="onRowDelete(team, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(team, ri)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(team, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog [(visible)]="deleteModal" [modal]="true" [resizable]="false" [draggable]="false">
        <ng-template pTemplate="header">
            <span class="text-xl font-bold" [style]="{'width':'310px'}">Deseja mesmo apagar a equipe?</span>
        </ng-template>
        <ng-template pTemplate="body">
            <div class="flex justify-content-around">
                <button pButton pRipple (click)="deleteTeam()" label="Sim" class="p-button-raised bg-blue-300 w-4" id="btnDeleteAccount"></button>
                <button pButton pRipple (click)="changeDeleteModal()" label="Não" class="p-button-raised bg-red-600 w-4" id="btnDeleteAccount"></button>
            </div>
        </ng-template>
    </p-dialog>
</section>
<p-dialog [(visible)]="registerTeamModal" [modal]="true" [resizable]="false" [draggable]="false">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold" >Cadastro de Equipe</span>
    </ng-template>
    <ng-template pTemplate="registerTeam">
        <div [style]="{'width':'250px'}" class="flex flex-column justify-content-center">
            <div class="flex justify-content-evenly gap-3">
                <span>
                    <label for="teamName" class="block text-900 font-medium mb-2 text-left">Nome da Equipe</label>
                    <input #teamName id="teamName" type="text" placeholder="Nome" pInputText class="w-full mb-3">
                </span>
            </div>
            <button (click)="registerTeam(teamName.value)" pButton pRipple label="Registrar" icon="pi pi-plus" class="w-full p-button-raised bg-blue-300"></button>
        </div>
    </ng-template>
</p-dialog>
