<main>
    <!-- <aside class="left-aside">
        <div class="">
        </div>
    </aside> -->
    <section class="championship-table" id="bets">
        <table class="championships">
            <caption>CAMPEONATOS DISPONÍVEIS</caption>
            <tr>
                <th>Nome</th>
                <th>Pessoas</th>
                <th>Data</th>
                <th colspan="2">Apostas</th>
            </tr>
            <tr *ngFor="let championship of championships">
                <td> {{championship.name}} </td>
                <td> {{championship.quantity}} </td>
                <td> {{championship.endDate}} </td>
                <td> {{championship.betQuantity}} </td>
                <td> <p-button label="Apostar" styleClass="p-button-danger" (click)="loadBet()" icon="pi pi-arrow-up-right"></p-button> </td>
            </tr>
        </table>
    </section>
    <!-- <aside class="right-aside">
        <div class="">
        </div>
    </aside> -->
</main>