.championship-table {
    padding: 50px;
}

.championships {
    width: 90vw;
    text-align: left;
    border-collapse: collapse;
    border: 2px solid black;
}

.championships caption {
    border: 2px solid black;
    border-bottom: 0;
    background-color: #dc8e8e;
    padding: 10px;
    font-size: 32px;
    font-weight: 900;
}

.championships tr th {
    padding: 15px;
    font-size: 26px;
    font-weight: 500;
    border: 2px solid black;
}

.championships tr td{
    border: 2px solid black;
    padding: 15px;
    font-size: 22px;
    font-weight: 400;
}

.championships tr:nth-child(even) {
    background-color: #111;
}

.championships tr:nth-child(odd) {
    background-color: #222;
}