<main class="flex justify-content-center w-full">
    <section class="championship-table w-full p-5 flex justify-content-center" id="bets">
        <table class="championships w-10">
            <caption>CAMPEONATOS DISPONÍVEIS</caption>
            <tr>
                <th>Nome</th>
                <th>Participantes</th>
                <th>Data</th>
                <th colspan="2">Apostas</th>
            </tr>
            <tr *ngFor="let championship of championships">
                <td> {{championship.name}} </td>
                <td> {{championship.quantity}} </td>
                <td> {{championship.endDate}} </td>
                <td> {{championship.betQuantity}} </td>
                <td> <p-button label="Apostar" styleClass="p-button-danger" (click)="loadBet()" icon="pi pi-arrow-up-right"></p-button> </td>
            </tr>
        </table>
    </section>
</main>
<section class="w-full flex justify-content-center text-left">
    <div class="font-light w-10 p-5 bg-gray-800 mb-5 border-round-md flex flex-column gap-4 text-lg">
        <div class="flex gap-2 flex-column">
            <h1 class="text-4xl">BEM VINDO À CHEBET</h1>
            <p>
                Fundada em 2023, a Chebet veio para <b>revolucionar o mundo das apostas em corridas de arrancada</b>. Nossa missão é proporcionar aos entusiastas de velocidade e adrenalina uma experiência de apostas únicas e emocionantes, repleta de oportunidades de ganhos!
            </p>
        </div>   
        <div class="flex gap-2 flex-column">
            <h1>Apostas</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam atque, cum alias itaque inventore suscipit recusandae aliquam nisi explicabo mollitia consequatur officiis rerum perferendis sit facere hic debitis doloremque exercitationem.
            </p>
        </div>
    </div>
</section>