<footer class="main-footer">
    <div class="wrapper">  
        <div class="content languages-section">
            <!-- <a href="#" style="filter: brightness(1.5);">Português</a><br>
            <a href="#">English</a> -->
        </div>
        <div class="content mid-section">
            <p>Apostar pode ser viciante. Aposte com responsabilidade!</p>
            <a href="https://maps.app.goo.gl/oxqbXhw87iPqxVYG7" target="_blank"><p>19300 S Hamilton Ave, Gardena, CA 90248, USA</p></a>
            <p>&copy; 2023 DeopragLabs - Todos os direitos reservados</p>
        </div>
        <div class="content">
            <div class="social-media">
                <a href="https://github.com/Deoprag" target="_blank">
                    <img src="../../assets/github-icon.png">
                </a>
                <a href="https://www.instagram.com/chebetapostas/" target="_blank">
                    <img src="../../assets/instagram-icon.png">
                </a>
                <a href="https://t.me/+2SLnlSWesZU5MDYx" target="_blank">
                    <img src="../../assets/telegram-icon.png">
                </a>
                <a href="https://twitter.com/ChebetApostas" target="_blank">
                    <img src="../../assets/x-icon.png">
                </a>
            </div>
        </div>
    </div>
</footer>