.main-footer {
    width: 100%;
    background-color: black;
    height: 120px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.wrapper {
    height: 80px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.content {
    width: 33.3%;
    padding-top: 5px;
}

.social-media {
    text-align: right;
}

.social-media a{
    padding: 5px;
}

.social-media img {
    width: 40px;
    transition: all 0.2s;
}

.mid-section p {
    text-align: center;
    color: #dc8e8e;
    font-size: 12px;
    padding: 3px;
}

.languages-section {
    text-align: left;
    display: inline-block;
}

.languages-section a {
    color: #dc8e8e;
    font-size: 12px;
    text-decoration: none;
}

.content a:hover {
    transition: all 0.2s;
    filter: brightness(1.5);
}

.social-media img:hover {
    scale: 1.06;
    filter: brightness(1.5);
}

.championship-table {
    width: 100%;
}

.table-wrapper {
    max-width: 80%;
    display: flex;
}