<p-button (click)="showModal()" label="Registrar" styleClass="p-button-danger" id="btnLogin" icon="pi pi-user" [style]="{'width':'150px'}"></p-button>
<p-dialog [(visible)]="visible" [modal]="true" [resizable]="false" [draggable]="false">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold" >Cadastro de Usuário</span>
    </ng-template>
    <ng-template pTemplate="login">
        <div class="text-center mb-5" >
            <img src="../../assets/Chevette.png" alt="Image" height="100" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Seja bem vindo!</div>
        </div>

        <div>
            <div class="flex justify-content-evenly gap-3">
                <span>
                    <label for="firstName" class="block text-900 font-medium mb-2 text-left">Nome</label>
                    <input id="firstName" type="text" placeholder="Nome" pInputText class="w-full mb-3">
                </span>
                <span>
                    <label for="lastName" class="block text-900 font-medium mb-2 text-left">Sobrenome</label>
                    <input id="lastName" type="text" placeholder="Sobrenome" pInputText class="w-full mb-3">
                </span>
            </div>

            <div class="flex justify-content-evenly gap-3">
                <span>
                    <label for="username" class="block text-900 font-medium mb-2 text-left">Email</label>
                    <input id="username" type="text" placeholder="Endereço de email" pInputText class="w-full mb-3">
                </span>
                <span>
                    <label for="password" class="block text-900 font-medium mb-2 text-left">Senha</label>
                    <input id="password" type="password" placeholder="Senha" pInputText class="w-full mb-3">
                </span>
            </div>

            <div class="flex justify-content-evenly gap-3">
                <span>
                    <label for="passwordConfirmation" class="block text-900 font-medium mb-2 text-left">Confirmação de Senha</label>
                    <input id="passwordConfirmation" type="password" placeholder="Confirmação de Senha" pInputText class="w-full mb-3">
                </span>
                <span>
                    <label for="passwordConfirmation" class="block text-900 font-medium mb-2 text-left">Data de Nascimento</label>
                    <p-calendar class="" placeholder="01/01/2000" appendTo="body" dateFormat="dd/mm/yy"></p-calendar>
                </span>
            </div>

            <div class="flex justify-content-evenly gap-3">
                <span>
                    <label for="cpf" class="block text-900 font-medium mb-2 text-left">CPF</label>
                    <p-inputMask id="cpf" mask="999.999.999-99" type="text" placeholder="123.456.789-10" class="w-full mb-3"></p-inputMask>
                </span>
                <span>
                    <label for="genre" class="block text-900 font-medium mb-2 text-left">Gênero</label>
                    <p-dropdown class="text-left" [options]="genres" optionLabel="name" appendTo="body" placeholder="Gênero" [style]="{'width':'220px'}"></p-dropdown>
                </span>
            </div>
            
            <div class="flex align-items-start mb-6 p-3">
                <div class="flex align-items-start">
                    <p-checkbox id="" [binary]="true" styleClass="mr-2" [style]="{'margin-left':'10px'}"></p-checkbox>
                    <a class="font-medium no-underline ml-2 text-pink-500 text-right cursor-pointer" href="">Aceitar termos de uso</a>
                </div>
            </div>
            <button (click)="signUp()" pButton pRipple label="Registrar" icon="pi pi-user" class="w-full p-button-raised p-button-danger"></button>
        </div>
    </ng-template>
</p-dialog>