<p-button (click)="showModal()" label="Registrar-se" styleClass="p-button-raised p-button-danger" id="btnSignUp" icon="pi pi-user-plus"></p-button>
<p-dialog [(visible)]="visible" [modal]="true" [resizable]="false" [draggable]="false">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Registrar-se</span>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="content">
            <label for="firstName" class="block text-900 font-medium align-left">Nome</label>
            <label for="lastName" class="block text-900 font-medium align-left">Sobrenome</label>
            <label for="email" class="block text-900 font-medium align-left">Email</label>
            <span class="p-float-label">
                <p-inputMask mask="999.999.999-99" id="txtCpf"></p-inputMask>
                <label htmlFor="txtCpf">CPF</label>
            </span>
            <button (click)="signUp()" pButton pRipple label="Registrar" icon="pi pi-user" class="w-full p-button-raised p-button-danger"></button>
        </div>
    </ng-template>
</p-dialog>
