<main-header></main-header>
<main class="flex justify-content-center w-full p-7">
    <section class="w-full flex justify-content-center text-left" id="info">
        <div class="font-light w-10 p-5 bg-gray-800 mb-5 border-round-md flex flex-column gap-4 text-md">
            <div class="flex gap-2 flex-column">
            <h1 class="text-4xl">BEM VINDO À CHEBET</h1>
            <p>
                Fundada em 2023, a Chebet veio para <b>revolucionar o mundo das apostas em corridas de arrancada</b>. Nossa missão é proporcionar aos entusiastas de velocidade e adrenalina uma experiência de apostas únicas e emocionantes, repleta de oportunidades de ganhos!
            </p>
        </div>   
        <div class="flex gap-3 flex-column">
            <h1>Apostas</h1>
            <p>
                Na Chebet, oferecemos uma variedade de opções de apostas para que você possa aumentar a emoção das corridas de arrancada. Você pode escolher entre as seguintes modalidades de apostas:
            </p>
            <p>
                <b> - Vencedor da Corrida:</b> Faça sua previsão sobre qual piloto cruzará a linha de chegada em primeiro lugar. Se o seu piloto favorito for o mais rápido, você ganha!
            </p>
            <p>
                <b> - Carro quebrou :</b> Faça sua previsão sobre qual piloto quebrará o seu carro durante a disputa.
            </p>
            <p>
                <b> - Aposta de Colocação:</b> Você também pode apostar em colocações, permitindo ganhos mesmo que o seu piloto não termine em primeiro.
            </p>
            <p>
                <b> - Tempo Médio:</b> Você poderá apostar no tempo médio de todas as corridas.
            </p>
            <p>
                <b> - Vencedor por corrida:</b> Além de escolher o vencedor do campeonato, você pode escolher o vencedor das corridas, que é feita piloto vs piloto.
            </p>
        </div>
        <div class="flex gap-2 flex-column">
            <h1>Promoções e Bônus</h1>
            <p>
                Na Chebet, <b>valorizamos nossos clientes</b> e oferecemos <b>promoções e bônus emocionantes</b> para tornar suas apostas ainda mais gratificantes. Esteja atento a <b>ofertas especiais, bônus de depósito, e competições exclusivas</b> que lhe darão a chance de ganhar <b>prêmios incríveis</b>.          
            </p>
        </div>
        <div class="flex gap-2 flex-column">
            <h1>Apostas Responsáveis</h1>
            <p>
                Nós <b>nos preocupamos com o bem-estar de nossos clientes</b> e incentivamos apostas responsáveis. Tenha em mente que as apostas <b>devem ser uma forma divertida de entretenimento</b>, e <b>é importante definir limites</b> para garantir que você jogue de forma responsável.
            </p>
        </div>
        <div class="flex gap-2 flex-column">
            <h1>Suporte ao Cliente</h1>
            <p>
                Nossa equipe de suporte ao cliente está à disposição para ajudar com qualquer dúvida ou preocupação que você possa ter. Entre em contato conosco a qualquer momento, e teremos prazer em ajudar.
            </div>
            <div class="flex gap-2 flex-column">
                <h1>Como posso criar uma conta na Chebet?</h1>
                <p>
                    Você pode criar sua conta clicando em “Registrar” na parte superior da tela. O cadastro é simples e sua conta gratuita pode ser configurada em apenas alguns minutos!
                    Uma vez lá dentro, você terá acesso a todas as seções do nosso site. Você pode começar a aproveitar nossas promoções exclusivas no que você quiser jogar!
                    A inscrição na Chebet é gratuita, mas você precisará depositar dinheiro para começar a ganhar prêmios em dinheiro real.
                </div>
                <div class="flex gap-2 flex-column">
                    <h1>Mais</h1>
                    <p>
                        Junte-se à Chebet hoje e experimente a emoção das apostas em corridas de arrancada como nunca antes. Com uma ampla gama de opções de apostas, promoções empolgantes e um compromisso com a segurança e a diversão, estamos aqui para tornar suas apostas memoráveis e gratificantes. Vamos começar a apostar e sentir a adrenalina!
                    </p>
                </div>
            </div>
        </section>
    </main>
    <main-footer></main-footer>